{% extends "base.html" %}
{% block body %}
{% load static %}
	<style>
		.popup {
			display: none;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.5);
			z-index: 9999;
		  
		}
		
		.popup-content {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: #fff;
			padding: 30px;
			border-radius: 10px;
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
			width: 30%;
			height: 40%;
			max-width: 90%;
		}
		
		.close-btn {
			position: absolute;
			top: 10px;
			right: 10px;
			font-size: 24px;
			cursor: pointer;
			color: #333;
		}
		h2{
			font-size: 25px;
			text-align: center;
		}
		input {
        width: 50%;
        margin: 10px;
        height: 10%;
        border: none;
        border-bottom: 1px solid black;
		outline: none;
    	}
		.form-btn{
			font-size: 13px;
			border: 1px solid #c96;
			color: #c96;
			margin-top: 12%;
			
			
		
		}
		.form-btn:hover{
			color: #fff;
            background-color: #c96;
			
		}
	
		.close-btn:hover {
			color: #c96;
		}
		
		.popup-content h2 {
			margin-top: 0;
			color: #333;
		}
		
		.popup-content form input {
			width: calc(100% - 30px);
			margin-bottom: 20px;
			padding: 15px;
			box-sizing: border-box;
			border: 1px solid #c96;
			border-radius: 5px;
		}
		
		.popup-content form input[type="submit"] {
			background-color: #c96;
			color: #fff;
			border: none;
			cursor: pointer;
			width: calc(100% - 30px);
			padding: 15px;
			box-sizing: border-box;
			border-radius: 5px;
		}
		
		.popup-content form input[type="submit"]:hover {
			background-color: #a23;
		}
		
		.paypal-btn {
			background-color: #c96;
			color: #fff;
			border: none;
			padding: 15px;
			cursor: pointer;
			border-radius: 5px;
			display: block;
			width: calc(100% - 30px);
			text-align: center;
			text-transform: uppercase;
			margin-top: 20px;
		}
	</style>
	<main class="main">
		<div class="page-header text-center" style="background-image: url('{% static 'assets/images/page-header-bg.jpg' %}')">
			<div class="container">
				<h1 class="page-title">Checkout<span>Shop</span></h1>
			</div><!-- End .container -->
		</div><!-- End .page-header -->
		<nav aria-label="breadcrumb" class="breadcrumb-nav">
			<div class="container">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Shop</a></li>
					<li class="breadcrumb-item active" aria-current="page">Checkout</li>
				</ol>
			</div><!-- End .container -->
		</nav><!-- End .breadcrumb-nav -->
		<div class="page-content">
			<div class="checkout">
				<div class="container">
					<div class="checkout-discount">
						<form action="#">
							<input type="text" class="form-control" required id="checkout-discount-input">
							<label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click here to enter your code</span></label>
						</form>
					</div><!-- End .checkout-discount -->
					<form action="{% url "shipment_address" %}" method="POST">
					{% csrf_token %}
						<input type="hidden" name="order_id" value="{{ order.id }}">
						<div class="row">
							<div class="col-lg-9">
								<h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
									<div class="row">
										<div class="col-sm-6">
											<label>First Name *</label>
											<input type="text" name="first_name" class="form-control" required>
										</div><!-- End .col-sm-6 -->
										<div class="col-sm-6">
											<label>Last Name *</label>
											<input type="text" name="last_name" class="form-control" required>
										</div><!-- End .col-sm-6 -->
									</div><!-- End .row -->
									<label>Company Name (Optional)</label>
									<input type="text" name="company_name" class="form-control">
									<label>Country *</label>
									<input type="text" name="country" class="form-control" required>
									<label>Street address *</label>
									<input type="text" name="street_address_one" class="form-control" placeholder="House number and Street name" required>
									<input type="text" name="street_address_two" class="form-control" placeholder="Appartments, suite, unit etc ..." required>
									<div class="row">
										<div class="col-sm-6">
											<label>Town / City *</label>
											<input type="text" name="city" class="form-control" required>
										</div><!-- End .col-sm-6 -->
										<div class="col-sm-6">
											<label>State *</label>
											<input type="text" name="state" class="form-control" required>
										</div><!-- End .col-sm-6 -->
									</div><!-- End .row -->
									<div class="row">
										<div class="col-sm-6">
											<label>Postcode / ZIP *</label>
											<input type="text" name="postal_code" class="form-control" required>
										</div><!-- End .col-sm-6 -->
										<div class="col-sm-6">
											<label>Phone *</label>
											<input type="tel" name="phone_number" class="form-control" required>
										</div><!-- End .col-sm-6 -->
									</div><!-- End .row -->
									<label>Email address *</label>
									<input type="email" name="email" class="form-control" required>
									<!-- <div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="checkout-create-acc">
										<label class="custom-control-label" for="checkout-create-acc">Create an account?</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="checkout-diff-address">
										<label class="custom-control-label" for="checkout-diff-address">Ship to a different address?</label>
									</div>End .custom-checkbox -->
									<label>Order notes (optional)</label>
									<textarea class="form-control" name="additional_note" cols="30" rows="4" placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
							</div><!-- End .col-lg-9 -->
							<aside class="col-lg-3">
								<div class="summary">
									<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->
									<table class="table table-summary">
										<tbody>
												<tr class="summary-subtotal">
													<td>Subtotal:</td>
													<td>${{ initial_subtotal }}</td>
											</tr><!-- End .summary-subtotal -->
											<tr>
												<td>Shipping:</td>
												<td>Free shipping</td>
											</tr>
											<tr class="summary-total">
												<td>Total:</td>
												<td>${{ initial_subtotal }}</td>
											</tr><!-- End .summary-total -->
										</tbody>
									</table><!-- End .table table-summary -->
									<div class="accordion-summary" id="accordion-payment">
										<div class="card">
											<div class="card-header" id="heading-3" style="width: 60%;">
												<h2 class="card-title">
													<input class="collapsed" type="radio" name="payment_method" value="cash_on_delvery" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3" style="width: 20px;">
															Cash on delivery
													</input>
												</h2>
											</div><!-- End .card-header -->
											<div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-payment">
												<div class="card-body">Quisque volutpat mattis eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. 
												</div><!-- End .card-body -->
											</div><!-- End .collapse -->
										</div><!-- End .card -->
										<div class="card">
											<div class="card-header" id="heading-4" style="width: 34.5%;">
												<h2 class="card-title">
													<input class="collapsed" type="radio" name="payment_method" value="payPal" role="button" data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4"  style="width: 20px;">
														PayPal 
													</input>
												</h2>
											</div><!-- End .card-header -->
											<div id="collapse-4" class="collapse" aria-labelledby="heading-4" data-parent="#accordion-payment">
												<div class="card-body">
													Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum.
												</div><!-- End .card-body -->
											</div><!-- End .collapse -->
										</div><!-- End .card -->
										<div class="card">
											<div class="card-header" id="heading-5" style="width: 34.5%;">
												<h2 class="card-title">
													<input class="collapsed" type="radio" name="payment_method" value="card" role="button" data-toggle="collapse" href="#collapse-5" aria-expanded="false" aria-controls="collapse-5" id="card-payment-link"  style="width: 20px;">
														Cards
														<!--<img src="{% static 'assets/images/payments-summary.png' %}" alt="payments cards"> -->
													</input>
												</h2>
											</div><!-- End .card-header -->
											<div id="collapse-5" class="collapse" aria-labelledby="heading-5" data-parent="#accordion-payment">
												<div class="card-body"> Donec nec justo eget felis facilisis fermentum.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Lorem ipsum dolor sit ame.
												</div><!-- End .card-body -->
											</div><!-- End .collapse -->
										</div><!-- End .card -->
									</div><!-- Ed .accordion -->
									<button id="#" type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
										<span class="btn-text">Place Order</span>
										<span class="btn-hover-text">Proceed to Checkout</span>
									</button>
								</div><!-- End .summary -->
							</aside><!-- End .col-lg-3 -->
						</div><!-- End .row -->
					</form>
					<div class="popup" id="payment-popup">
						<div class="popup-content">
							<span class="close-btn">&times;</span>
							<h2>Enter Card Details</h2>
							<!-- Card Payment Form -->
							<form action="{% url "card_pay" %}" method="POST">
								{% csrf_token %}
								<input type="hidden" name="initial_subtotal" value="{{ initial_subtotal }}">
								<input type="text" name="card_number" placeholder="Card Number" required><br>
								<input type="text" name="expiry_date" placeholder="Expiry Date  mm/yyyy" required><br>
								<input type="text" name="cvv" placeholder="CVV" required><br>
								<input class="form-btn" type="submit" value="Pay with Card">
							</form> 
						</div>
					</div>
				</div><!-- End .container -->
			</div><!-- End .checkout -->
		</div><!-- End .page-content -->
	</main><!-- End .main -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		document.getElementById('card-payment-link').addEventListener('click', function(event) {
			event.preventDefault(); // Prevent the default behavior of the link
			document.getElementById('payment-popup').style.display = 'block'; // Display the payment popup
		});
		document.querySelector('.close-btn').addEventListener('click', function() {
			document.getElementById('payment-popup').style.display = 'none'; // Hide the payment popup
		});
		$(document).ready(function() {
			$('#place-order-btn').click(function(event) {
				event.preventDefault();
				var form = $(this).closest('form');
				var formData = form.serialize();
				var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
				var headers = {
					'X-CSRFToken': csrfToken
				};
				$.ajax({
					type: 'POST',
					url: form.attr('action'),
					headers: headers,
					data: formData,
					success: function(response) {
						// Handle the response here, such as displaying a success message
						alert('Order placed successfully!');
						// Redirect to another page if needed
						window.location.href = '/thank_you_page';
					},
					error: function(xhr, errmsg, err) {
						// Handle any errors here, such as displaying an error message
						alert('Error: ' + errmsg);
					}
				});
			});
		});
		
		
		
	</script>
{% endblock body %}