
{% extends "admin/adminbase.html" %}
{% load static %}
{% block body %}
    <body>
        <div class="container-xxl position-relative bg-white d-flex p-0">
            <!-- Spinner Start -->

            <!-- Content Start -->
            <div class="content">
                <!-- Table Start -->
                <div class="container">
                    <div class="row g-4">
                        <div class="col-12" style="margin-left: -16%; margin-top: 10%;">
                            <div class="bg-light rounded h-100 p-4">
                                <h6 class="mb-4">Product inventory Management</h6>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Product ID</th>
                                                <th scope="col">Product Name</th>
                                                <th scope="col">Available Stock</th>
                                                <th scope="col">Product Brand</th>
                                                <th scope="col">Product Type</th>
                                                <th scope="col">Product Catagory</th>
                                                <th scope="col">Product  Sub-Catagory</th>
                                                <th scope="col">Product Price</th>
                                                <th scope="col">Availabe Color</th>
                                                <th scope="col">Available Size</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for i in inventory_items %}
                                            <tr>
                                                <td>{{ i.product_id }}</td>
                                                <td>{{ i.product_name }}</td>
                                                <td>{{ i.stock_quantity}}</td>
                                                <td>{{ i.brand }}</td>
                                                <td>{{ i.productType }}</td>
                                                <td>{{ i.category }}</td>
                                                <td>{{ i.subcategory }}</td>
                                                <td>{{ i.price }}</td>
                                                <td>{{ i.color }}</td>
                                                <td>{{ i.size }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Table End -->
            </div>
            <!-- Content End -->
            <!-- Back to Top -->
            <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
        </div>
    </body>
{% endblock body %}
