
{% extends "admin/adminbase.html" %}
{% load static %}
{% block body %}
    <style>
        .container-xxl {
            max-width: 2000px;
        }
    </style>
    <body>
        <div class="container-xxl position-relative bg-white d-flex p-0">
            <div class="content">
                <!-- Table Start -->
                <div class="container">
                    <div class="row g-4">
                        <div class="col-12" style="margin-left: -16%; margin-top: 10%;">
                            <div class="bg-light rounded h-100 p-4">
                                <h6 class="mb-4">Order List</h6>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Order Id</th>
                                                <th scope="col">Order Date</th>
                                                <th scope="col">Order Product ID</th>
                                                <th scope="col">Customer Email</th>
                                                <th scope="col">Quantity</th>
                                                <th scope="col">Color</th>
                                                <th scope="col">Size</th>
                                                <th scope="col">Product Total</th>
                                                <th scope="col">Total Bill</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for order_info in order_data %}
                                            <tr>
                                                <td>{{ order_info.order_id }}</td>
                                                <td>{{ order_info.order_date }}</td>
                                                <td>{{ order_info.ordered_product_id }}</td>
                                                <td>{{ order_info.customer_email }}</td>
                                                <td>{{ order_info.quantity }}</td>
                                                <td>{{ order_info.color }}</td>
                                                <td>{{ order_info.size }}</td>
                                                <td>{{ order_info.product_total }}</td>
                                                <td>{{ order_info.total_bill }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Table End -->
            </div>
            <!-- Content End -->
            <!-- Back to Top -->
            <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
        </div>
    </body>
{% endblock body %}
